<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Almacen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Almacen.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Almacen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="">Tables</a>
                            <ul>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">A-D</a>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Agentes" asp-action="Index">Agentes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Bodegas" asp-action="Index">Bodegas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="CentrosTrabajos" asp-action="Index">CentrosTrabajos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Componentes" asp-action="Index">Componentes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Conceptos" asp-action="Index">Conceptos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="CondicionesPagos" asp-action="Index">CondicionesPagos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Consecutivos" asp-action="Index">Consecutivos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Cotizacion" asp-action="Index">Cotizacion</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">E-L</a>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="EstadosMovimientos" asp-action="Index">EstadosMovimientos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="EstadosRemisiones" asp-action="Index">EstadosRemisiones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="EstadosSaldos" asp-action="Index">EstadosSaldos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="GrupoInterlocutores" asp-action="Index">GrupoInterlocutores</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="InterlocutoresComerciales" asp-action="Index">InterlocutoresComerciales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="InterlocutoresCondicionPago" asp-action="Index">InterlocutoresCondicionPago</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="InterlocutorFinanzas" asp-action="Index">InterlocutorFinanzas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ListaDeMateriales" asp-action="Index">ListaDeMateriales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ListasPrecios" asp-action="Index">ListasPrecios</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ListasPreciosMateriales" asp-action="Index">ListasPreciosMateriales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Localizaciones" asp-action="Index">Localizaciones</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">M-N</a>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Materiales" asp-action="Index">Materiales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MaterialesCaracteristicas" asp-action="Index">MaterialesCaracteristicas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MaterialesCostosPromedios" asp-action="Index">MaterialesCostosPromedios</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MaterialesDatosCompra" asp-action="Index">MaterialesDatosCompra</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MaterialesDescripciones" asp-action="Index">MaterialesDescripciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MmCodigoEquivalente" asp-action="Index">MmCodigoEquivalente</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MmTmcCaracteristica" asp-action="Index">MmTmcCaracteristica</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MmTmcdDescripciones" asp-action="Index">MmTmcdDescripciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Movimientos" asp-action="Index">Movimientos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MovimientosDetalles" asp-action="Index">MovimientosDetalles</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">O-S</a>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="OrdenDeTrabajo" asp-action="Index">OrdenDeTrabajo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="OrdenProduccion" asp-action="Index">OrdenProduccion</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="PlanCompra" asp-action="Index">PlanCompra</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Remisiones" asp-action="Index">Remisiones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="RemisionesCompras" asp-action="Index">RemisionesCompras</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="RemisionesComprasMateriales" asp-action="Index">RemisionesComprasMateriales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="RemisionesVenta" asp-action="Index">RemisionesVenta</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="RemisionesVentaMateriales" asp-action="Index">RemisionesVentaMateriales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Saldos" asp-action="Index">Saldos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Sociedad" asp-action="Index">Sociedad</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">T-Z</a>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoInterlocutorComercial" asp-action="Index">TipoInterlocutorComercial</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoListaMaterial" asp-action="Index">TipoListaMaterial</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposAgentes" asp-action="Index">TiposAgentes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposDocumentos" asp-action="Index">TiposDocumentos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposDocumentosConceptos" asp-action="Index">TiposDocumentosConceptos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposDocumentosTiposAgentes" asp-action="Index">TiposDocumentosTiposAgentes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposMateriales" asp-action="Index">TiposMateriales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposMovimientos" asp-action="Index">TiposMovimientos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoUnidadMedida" asp-action="Index">TipoUnidadMedida</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Ubicaciones" asp-action="Index">Ubicaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="UnidadMedida" asp-action="Index">UnidadMedida</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Zonas" asp-action="Index">Zonas</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Almacen - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
