@model Project.Models.Zonas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zonas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StrCodigoZona" />
            <div class="form-group">
                <label asp-for="StrDescripcionZona" class="control-label"></label>
                <input asp-for="StrDescripcionZona" class="form-control" />
                <span asp-validation-for="StrDescripcionZona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitTransitoDirecto" class="control-label"></label>
                <input asp-for="BitTransitoDirecto" class="form-control" />
                <span asp-validation-for="BitTransitoDirecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitPicking" class="control-label"></label>
                <input asp-for="BitPicking" class="form-control" />
                <span asp-validation-for="BitPicking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitUbicacion" class="control-label"></label>
                <input asp-for="BitUbicacion" class="form-control" />
                <span asp-validation-for="BitUbicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitDespacho" class="control-label"></label>
                <input asp-for="BitDespacho" class="form-control" />
                <span asp-validation-for="BitDespacho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitRecepcion" class="control-label"></label>
                <input asp-for="BitRecepcion" class="form-control" />
                <span asp-validation-for="BitRecepcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitActivo" class="control-label"></label>
                <input asp-for="BitActivo" class="form-control" />
                <span asp-validation-for="BitActivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrUsuario" class="control-label"></label>
                <input asp-for="StrUsuario" class="form-control" />
                <span asp-validation-for="StrUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtFecha" class="control-label"></label>
                <input asp-for="DtFecha" class="form-control" />
                <span asp-validation-for="DtFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntIdBodega" class="control-label"></label>
                <input asp-for="IntIdBodega" class="form-control" />
                <span asp-validation-for="IntIdBodega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
